# Objective
Write a Pandas program to create and display a DataFrame from the following dictionary data with index labels.

```
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
---
**Instructions**
1. Print the first three rows using the `head()` method.
2. Delete rows with NaN values.
3. Extract the 'name' and 'score' columns from the DataFrame.
4. Append a new row 'k' to the DataFrame with these values: (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
5. Delete the 'attempts' column from the DataFrame.
6. Add a new column "Success": if the score is higher than 10, we will have 1, else we will have 0.
7. After executing the final DataFrame, export it into a CSV file named "my_data.csv".

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Given dictionary data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# Step 1: Create the DataFrame
df = pd.DataFrame(exam_data, index=labels)

In [ ]:
# Step 2: Print the first three rows using head() method
print("First three rows of the DataFrame:")
print(df.head(3))

In [ ]:
# Step 3: Delete rows with NaN values
df_cleaned = df.dropna()
print("\nDataFrame after removing rows with NaN values:")
print(df_cleaned)

In [ ]:
# Step 4: Extract the 'name' and 'score' columns
extracted_columns = df_cleaned[['name', 'score']]
print("\nExtracted 'name' and 'score' columns:")
print(extracted_columns)

In [ ]:
# Step 5: Append a new row 'k'
new_row = pd.Series({'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}, name='k')
df_cleaned = df_cleaned.append(new_row)
print("\nDataFrame after appending new row 'k':")
print(df_cleaned)

In [ ]:
# Step 6: Delete the 'attempts' column
df_cleaned = df_cleaned.drop(columns=['attempts'])
print("\nDataFrame after deleting the 'attempts' column:")
print(df_cleaned)

In [ ]:
# Step 7: Add a new column 'Success'
df_cleaned['Success'] = df_cleaned['score'].apply(lambda x: 1 if x > 10 else 0)
print("\nDataFrame after adding 'Success' column:")
print(df_cleaned)

In [ ]:
# Step 8: Export the final DataFrame to a CSV file named "my_data.csv"
df_cleaned.to_csv('my_data.csv', index=True)
print("\nFinal DataFrame exported to 'my_data.csv'")